doctype html
html(lang="en")
  head
    title Landing Page
  body
    h1 Developer Dainy 
    p Enthusiasm is a natural skill for me. I am passionate about creating projects that uses html5, css and javaScript. 