doctype html
html(lang="en")
  head
    title Landing Page
  body
    h1 Developer Dainy 
    p Enthusiasm is a natural skill for me. I am passionate about creating projects that uses html5, css and javaScript. 
      Aside from coding, I love creating a daily habit of improving my guitar skills and creating meaningful interactions with people. I am curious on topics of Salesforce platform and UI/UX designs.
      I am so keen to take up a course at Berklee College of Music Online and I am striving to be a better steward of my life. I am approachable in person or online and take note - I have a very cheerful nature!